<div class="row no-gutters h-50" style="max-height:100vh;overflow:scroll;">
	<div id="fill" class="col-md-9">
		<div id="map" style="height:100vh"></div>
	</div>
	<div id="accordion" class="col-md-3">
	</div>
<div>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgoLJac4O4l1SgbyWrwSOa3h0cypaEkNc&callback=initMap">
</script>
    

